.favourite_container {
  background-color: #f1f1f1;
  border-radius: 50px 50px 0 0;
  margin-top: 13.5rem;
  padding-top: 2px;
}

.favourite {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

/* ---------------------Responsive------------------ */
@media (max-width: 1100px) {
  .favourite_container {
    margin-top: 585px;
  }
}
