.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  width: 300px;
}

.image {
}

.icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon {
  cursor: pointer;
}
